#!/bin/sh

if [ ! -f "/home/creling/.config/chezmoi/key.txt" ]; then
    mkdir -p "/home/$HOME/.config/chezmoi"
    chezmoi age decrypt --output "/home/$HOME/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "/home/$HOME/.config/chezmoi/key.txt"
fi
